body {
  display: flex;
  background-color: rgb(155, 155, 155);
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  align-content: space-around;
}

h1 {
  font-size: 60pt;
  margin-bottom: 5px;
  margin-top: 75px;
  color: black;
}

.container {
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.expense-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: whitesmoke;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: rgb(85, 85, 85);
  width: 30%;
  padding: 15px;
  margin: 5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

select {
  height: 25px;
  margin-left: 15px;
  border-radius: 3px;
}

input {
  display: flex;
  border-radius: 3px;
  align-self: center;
  width: 70%;
  height: 25px;
  border: none;
  text-decoration: none;
  margin-left: 15px;
}

.add-btn {
  background-color: rgb(47, 231, 255);
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18pt;
  font-family: monospace;
  color: black;
}

.remove-btn {
  background-color: red;
  border: none;
  border-radius: 3px;
  padding: 5px 20px;
}

label {
  display: flex;
  align-self: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 18pt;
}

div.table {
  border: none;
  border-radius: 3px;
  background-color: whitesmoke;
}

table {
  border: none;
  border-radius: 5px;
  font-family: monospace;
  padding: 3px;
}

.table-header {
  color: black;
  background-color: rgb(231, 231, 231);
}

td,
th {
  /* border-width: 1px;
  border-color: black;
  border-style: solid; */
  font-size: 15pt;

  padding: 10px;
}

tbody tr:nth-child(even) {
  background: rgb(231, 231, 231);
}
